scopeName: 'source.vectorcast'
name: 'VectorCAST'
fileTypes: [
  'tst'
]
patterns: [
  {
    match: '^\\s*--.*$'
    name: 'string.regexp.vectorcast'
  }
  {
    match: '^TEST\\.(?:UNIT|SUBPROGRAM|NAME)(:)(.*)$'
    name: 'keyword.vectorcast'
    captures:
      1:
        name: 'keyword.operator.vectorcast'
      2:
        name: 'support.variable.vectorcast'
  }
  {
    begin: '^TEST\\.NOTES(:)'
    end: '^TEST\\.END_NOTES(:)'
    name: 'keyword.vectorcast'
    contentName: 'comment.line.vectorcast'
    beginCaptures:
      1:
        name: 'keyword.operator.vectorcast'
    endCaptures:
      1:
        name: 'keyword.operator.vectorcast'
  }
  {
    begin: '^TEST\\.(\\w+)_USER_CODE(:)(.*)$'
    end: '^TEST\\.END_(\\1)_USER_CODE(:)'
    name: 'keyword.vectorcast'
    contentName: 'keyword.operator.vectorcast'
    beginCaptures:
      2:
        name: 'keyword.operator.vectorcast'
      3:
        name: 'entity.name.function.vectorcast'
    endCaptures:
      2:
        name: 'keyword.operator.vectorcast'
  }
  {
    match: '^TEST\\.[^:]+$'
    name: 'keyword.vectorcast'
  }
  {
    match: '^TEST\\.[^:]+(:)([^:]*)(:)?'
    name: 'keyword.vectorcast'
    captures:
      1:
        name: 'keyword.operator.vectorcast'
      2:
        name: 'entity.name.function.vectorcast'
      3:
        name: 'keyword.operator.vectorcast'
  }
  {
    match: '.+'
    name: 'keyword.operator.vectorcast'
  }
]
